<p><a href="/todos">Ver a todos los animales</a></p>        <!-- redirecciona a la página todos -->

<p><a href="/primer">Ver al primer animal</a></p>           <!-- redirecciona a la página primer -->

<p><a href="/todos/estado/domestico">Ver a todos los animales domesticos</a></p>        
<!-- redirecciona a la página todos, pero filtando solo a los de estado doméstico -->

<p><a href="/todos/ordenadoA">Ver a todos los animales ordenados ascendentemente por nombre</a></p>        
<!-- redirecciona a la página todos, pero ordenado alfabeticamente-->

<p><a href="/todos/ordenadoB">Ver a todos los animales ordenados descendentemente por nombre</a></p>        
<!-- redirecciona a la página todos, pero ordenado descendentemente por nombre-->